*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header section */
.headerSection{
    padding: 10px 20px;
    background-color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.527);
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* left content  */
.leftNavContainer{
    color: aliceblue;
    font-size: medium;
}
/* middle content  */
.menulistItems{
    margin: 0px 5px;
}
.menulistItemContent{
    text-decoration: none;
    color: aliceblue;
    font-size: small;
    font-weight: 600;
}
/* right content  */
.contactButton1{
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
/* First Section */
.firstSection{
    top: 30px;
    padding: 20px;
    display: flex;
    height: fit-content;
}
.fs-Container-one,.fs-Container-two{
    padding: 20px;
    width: 50%;   
}
.fs-one-title, .fs-two-title{
    margin: 5px 0px;
}
/* Second Section  */
.secondSection{
    background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2642.jpg?t=st=1720675589~exp=1720679189~hmac=fd650d87ef846c54f30a9836f14c4163e6d7bdf6e1de16f9b0a5bd068e7b3ed5&w=740);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-two-title{
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
    margin: 5px 0px;
}
.section-two-Para{
    color: aliceblue;
    font-size: medium;
    text-align: center;
}
/* Footer Section */
.footerSection{
    background-color: black;
    padding: 20px;
}
.footerContainer{
    padding: 20px 30px;
}
.footList{
    margin: 20px 5px;
    display: flex;
    justify-content: space-around;
}
.footlistItemContent{
    color: white;
    padding: 5px;
    font-size: large;
    text-decoration: none;
}
.footer-Content{
    font-size: medium;
    color: aliceblue;
    text-align: center;
    margin: 5px 0px;
}
.footer-closer{
    font-size: medium;
    color: rgb(136, 136, 136);
    text-align: center;
    margin: 10px 0px;
}
/* phone  */
@media screen and (max-width: 530px) {
    .headerSection{
        padding: 20px 30px;
    }
    .centerNavContainer{
        display: none;
    }
    .firstSection{
        display: block;
        padding: 10px;
        height: 100%;
    }
    .footerContainer{
        padding: 10px 20px;
    }
    .fs-Container-one, .fs-Container-two{
        padding: 20px;
        width: fit-content;
        height: fit-content;
    }
    .fs-one-title, .fs-two-title{
        font-size: xx-large;
    }
    .fs-one-content, .fs-two-content{
        font-size: x-large;
    }
    .footList{
        display: flex;
        flex-direction: row;
    }
}